@model eCMS.DataLogic.ViewModels.CaseGoalGridVM
@using EasySoft.Helper;
@using eCMS.Shared;
@using eCMS.DataLogic.Models;
@using eCMS.DataLogic.ViewModels;
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Service Plan History";
}
@section headsection
{
    @Styles.Render("~/assets/plugins/kendo/css")
    @Scripts.Render("~/assets/plugins/kendo/js")
}

<div class="container bulk-import">
    <div class="col-lg-12 col-md-11 candidate-table-bg">
        @(Html.Kendo().Grid<CaseGoalServiceGridVM>()
                .Name("GridCaseGoalNew")
                .Columns(columns =>
                {
                    columns.Bound(c => c.GoalDetail).Sortable(true).Groupable(false).Filterable(false);
                    columns.Bound(c => c.Indicators).Sortable(true).Groupable(false).Filterable(false);
                    columns.Bound(c => c.AssignedTo).Sortable(true).Groupable(false).Filterable(false);
                    columns.Bound(c => c.AssigneeRole).Sortable(true).Groupable(false).Filterable(false);
                    columns.Bound(c => c.GoalStatus).Sortable(true).Groupable(false).Filterable(false);
                    columns.Bound(c => c.CreateDate).Format("{0:yyyy-MM-dd}").Sortable(true).Groupable(false).Filterable(false);
                    columns.Bound(c => c.LastUpdateDate).Format("{0:yyyy-MM-dd}").Sortable(true).Groupable(false).Filterable(false);
                    columns.Bound(p => p.Actions).ClientTemplate("<center><a href='/CaseManagement/CaseGoalNew/Edit/?Id=#= CaseGoalID #&CaseID=#= CaseID #'  title='Edit'>Edit</a>&nbsp;</center>").Width("10%")
                        .HtmlAttributes(new { @class = "grid-actions-content" })
                        .HeaderTemplate("<center>Actions</center>")
                        .HeaderHtmlAttributes(new { @class = "grid-actions-content" });
                })
                .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("ServicePlanGoalHistory", "CaseGoalNew", new { caseId = Model.CaseID }))
                .PageSize(50)
                )
                .Pageable()
                .Sortable()
                .Scrollable()
                .ClientDetailTemplateId("template")
                .HtmlAttributes(new { style = "height:500px;" })
                .Events(events => events.DataBound("dataBound"))
        )
    </div>
</div>
<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CaseGoalActionGridVM>()
                    .Name("grid_#=CaseGoalID#") // template expression, to be evaluated in the master context
            .Columns(columns =>
            {
                columns.Bound(c => c.ActionDetail).Sortable(true).Groupable(false).Filterable(false);
                columns.Bound(c => c.AssignedTo).Sortable(true).Groupable(false).Filterable(false);
                columns.Bound(c => c.AssigneeRole).Sortable(true).Groupable(false).Filterable(false);
                columns.Bound(c => c.ActionStatus).Sortable(true).Groupable(false).Filterable(false);
                columns.Bound(c => c.CreateDate).Format("{0:yyyy-MM-dd}").Sortable(true).Groupable(false).Filterable(false);
                columns.Bound(c => c.LastUpdateDate).Format("{0:yyyy-MM-dd}").Sortable(true).Groupable(false).Filterable(false);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Action("ServicePlanGoalActionHistory", "CaseActionNew", new { casegoalID = "#=CaseGoalID#" }))
            )
            .Pageable()
            .Sortable()
            .ToClientTemplate()
    )
</script>
<script>
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>


<script>
    $(document).ready(function () {


    });

</script>
