<div class=" header-footer text-center">
    <span>HEADER</span>
</div>
<div class="header-footer-stripe">
</div>
<img src="@Url.Content("~/Images/banner.jpg")" class="img-responsive top-space" width="100%">