@using eCMS.Shared
@{
    ViewBag.Title = "Home Page";
}
<!-- Begain: welcome -->
<div class="welcome-shadow">
    <div class="container">
        <div class="welcome">
            <h3>
                Welcome <span>@ViewBag.CurrentUserName</span>
            </h3>
            <br />
        </div>
        <!-- End: welcome -->
    </div>
</div>
<!-- Begain: page-top -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">

        </div>

        <div class="col-md-6 col-sm-6 col-lg-6">

        </div>
    </div>
</div>


