@model eCMS.DataLogic.Models.Worker
@using eCMS.Shared
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
}
<h4>Forgot Password? Enter your registered email address and click on submit button</h4>
<div class="clearfix clearon">&nbsp;</div>
@using (Html.BeginForm(Constants.Actions.ForgotPassword, Constants.Controllers.Account, FormMethod.Post, new { id = "frmLogin" }))
{                            
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.Partial(Constants.PartialViews.Alert)
    </div>
    @Html.TextBoxFor(model => model.EmailAddress, new { placeholder = "Email Address", required = "required" })
    <div class="clearfix clearon">&nbsp;</div>
    <p class="text-right">
        <span class="text-left">
            <a href="@Url.Action(Constants.Actions.Login, Constants.Controllers.Account)">Do you want to Login?</a><br />
        </span>
        <input type="submit" value="Submit" />
    </p>
}
<div class="clearfix">&nbsp;</div>